@media only screen and (max-width:786px){

}








/* <=============================================================> */
/* <=============================================================> */
/* <=============================================================> */
/* <=============================================================> */
/* <=============================================================> */
/* <=============================================================> */
/* <=============================================================> */




@media only screen and (min-width:786px){

  
      .bg-glass , .bg-custom {
        background-color: hsla(0, 0%, 0%, 0.702) !important;
        backdrop-filter: saturate(200%) blur(25px);
        color: rgba(124, 124, 124, 0.75) !important;
      }
      .bg-custom{
        border-radius: 20px;
      }
      .logbutton{
        background-color: #cf0083;
        border: none;
      }
 


  
  
  
}
