@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

@media only screen and (max-width:768px){
  .landing{
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
    width:100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  .inputButton{
    background-color: hsl(218, 41%, 15%) !important;
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(219, 50%, 27%) 15%,
        hsl(218, 45%, 23%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%) !important;
    border-radius: 50px !important;
    font-size: 18px !important;
    padding: 12px 50px;
    color: white;
  }
  .signout{
    background: transparent;
    border: none;
  }
  .log-box{
    height: 290px;
    width: 290px;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.349);
    border-radius: 10px;
    /* background-color: hsla(0, 0%, 0%, 0.7) !important; */
    backdrop-filter: saturate(200%) blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .futuralogo{
    position: relative;
    width: 40%;
  }
  .log-lotties {
    position: absolute;
    width: 100%;
    right: -1px;
    z-index: 3;
    top: -18px;
}
  .logicon{
    position: absolute;
    color: "#ffffff";
    right: 15%;
}

  
}



@media only screen and (min-width:768px){

    .landing{
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
        width:100vw;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    input[type='button'] {
        border: none;
        cursor: pointer;
      }

    .inputButton{
      /* background-color: rgb(255 196 240);
      background-image: linear-gradient(180deg, rgb(98 58 200) 3%, rgb(100 35 150) 60%); */
        background-color: hsl(218, 41%, 15%) !important;
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(219, 50%, 27%) 15%,
            hsl(218, 45%, 23%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%) !important;
        border-radius: 50px !important;
        font-size: 18px !important;
        padding: 12px 50px;
        color: white;
    }
    .inputButton:hover{
        border: 1px solid grey;
    }
    .signout{
        background: transparent;
        border: none;
    }

    .log-box{
        height: 290px;
        width: 290px;
        border: 1px solid rgba(128, 128, 128, 0.349);
        border-radius: 50%;
        background-color: hsla(0, 0%, 0%, 0.7) !important;
        backdrop-filter: saturate(200%) blur(25px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .logicon{
        position: absolute;
        color: "#ffffff";
        right: 15%;
    }
    .futuralogo{
        position: relative;
        width: 40%;
    }
    .lotties{
        position: absolute;
        width: 20%;
    }
    @keyframes airplane{
        0%{
            translate: -710px -340px;
        }
        100%{
            translate: 700px -340px;
        }
    }
    .log-lotties{
        position: absolute;
        width: 40%;
        right: 61px;
       
    }
    .bodyContent{
        width: 100vw;
        height: 100%;
        color: rgb(0, 0, 0);
        min-height: 100vh;
        padding-top: 50px;
        background: rgb(255 196 240);
      background: linear-gradient(180deg, rgb(255 255 255) 3%, rgb(255 196 240) 60%);
       
    }




    .navSection{
        display: flex;
        width: 100vw;
        background-image: linear-gradient(180deg, rgb(255 153 229 / 60%), transparent);        
        border: 0px 0px 20px 20px;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
    }
    .navSectionLinks{
        text-decoration: none;
        color: rgb(49, 49, 49);
    }
    .navSectionLinks:hover{
        color: rgb(119, 2, 39);
    }
    


    .navLinks{
        display: flex;
        width: 60%;
        justify-content: space-around;
    }
    .profileCard {
        position: relative;
        right:40px;
    }
    .useravatars{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .profileCard .profile {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
      }
      .profileCard .profile img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .profileCard .menu {
        position: absolute;
        top: 120px;
        right: -10px;
        padding: 10px 10px;
        background: #fff;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
      }
      .profileCard .menu.active {
        top: 80px;
        visibility: visible;
        opacity: 1;
        z-index: 3;

      }
      
      .profileCard .menu::before {
        content: "";
        position: absolute;
        top: -5px;
        right: 28px;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
      }
      .profileCard .menu h3 {
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
        font-weight: 500;
        color: #555;
        line-height: 1.5em;
      }
      
      .profileCard .menu h3 span {
        font-size: 14px;
        color: #696969;
        font-weight: 300;
      }
      .profileCard .menu ul{
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .profileCard .menu ul li {
        list-style: none;
        padding: 16px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.085);
        display: flex;
        align-items: center;
      }
      
      .profileCard .menu ul li svg {
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
      }
      
      .profileCard .menu ul li:hover svg {
        opacity: 1;
      }
      
      .profileCard .menu ul li a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
      }
      
      .profileCard .menu ul li:hover a {
        color: #ff5d94;
      }
      .home-container{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
      }
      .home-container h1{
        font-size:50px
      }
      .intro h1{
        font-size:100px;
        display: flex;
        flex-direction:column;
        justify-content: center;
      }
      .squee{
      animation: 5s linear imgrotate infinite;
    }
    .css-l086p4-MuiImageListItem-root .MuiImageListItem-img{
      transition: 700ms;
      filter:grayscale(1) blur(.5px);
    }
    .css-l086p4-MuiImageListItem-root .MuiImageListItem-img:hover{
      transform: scale(1.2);
      border-radius: 0px 20px 0px 20px;
      filter: grayscale(0) drop-shadow(1px 1px 35px rgba(191, 237, 255, 0.543));
      z-index: 2;
    }
    @keyframes imgrotate{
      0%{
        transform: rotateY(0deg);
      }
      100%{
        transform: rotateY(360deg);
      }
    }


    /* <====== lAND  ==========> */

    .home {
      display: grid;
      grid-template-columns: 45% 50%;
      place-items: center;
      gap: 50px;
      /* background: rgb(67, 69, 112);
      background: radial-gradient(
        circle,
        rgba(67, 69, 112, 1) 3%,
        rgba(35, 36, 57, 1) 60%
      ); */
      background: rgb(255 196 240);
      background: linear-gradient(180deg, rgb(255 255 255) 3%, rgb(255 196 240) 60%);
      overflow: hidden;
      padding: 130px 80px;
    }
    .description {
      color: #fff;
      padding: 0 50px;
    }
    
    .description h1 {
      font-family: "Tilt Neon", sans-serif;
      font-size: clamp(3rem, 5vw, 4rem);
      line-height: 1.1;
      margin-bottom: 30px;
    }   
    .gradient-text {
      font-family: "Tilt Neon", sans-serif;
      /* background-image: linear-gradient(
        90deg,
        rgb(118, 167, 63) 0%,
        rgb(51, 143, 118) 40%,
        rgb(55, 141, 167) 50%,
        rgb(117, 152, 242) 70%,
        rgb(144, 118, 236) 100%
      ); */
      background-image: linear-gradient(90deg, rgb(182 13 98) 0%, rgb(194 55 170) 40%, rgb(133 28 202) 50%, rgb(117, 152, 242) 70%, rgb(144, 118, 236) 100%);
      color: transparent;
      background-size: contain;
      background-clip: text;
      -webkit-background-clip: text;
    } 
    .description p {
      font-family: "Nunito", sans-serif;
      font-size: clamp(0.9rem, 3vw, 1.1rem);
      line-height: 1.5;
      margin-bottom: 30px;
    }
    
    #form {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    input {
      padding-inline-end: 10px;
      padding-inline-start: 10px;
      background-color: transparent;
      outline: transparent;
      border: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
      margin-right: 10px;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
    }
    input::placeholder {
      color: rgb(117, 152, 242);
      opacity: 0.5;
      font-weight: 500;
    }
    
    input[type="email"] {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 500;
      font-size: 1rem;
    }
    input[type="email"]:focus {
      border: transparent;
      outline: 2px dotted rgb(117, 152, 242);
      outline-offset: -3px;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      max-width: max-content;
      background: linear-gradient(
        90deg,
        rgb(118, 167, 63) 0%,
        rgb(51, 143, 118) 40%,
        rgb(55, 141, 167) 50%,
        rgb(117, 152, 242) 70%,
        rgb(144, 118, 236) 100%
      );
      background-size: 200%;
      background-position: left;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      border: 0;
      padding: 12px 16px;
      border-radius: 5px;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
        inset 0px 2px 2px rgba(255, 255, 255, 0.2);
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
    
    .btn:hover {
      background-position: right;
    }
    
.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item {
  max-width: 200px;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  /* background-color: #67d7e1; */
  background-color: #ff94dc;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  /* background-color: #6cc164; */
  background-color: #b1ccff;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  /* background-color: #fe7519; */
  background-color: #cf8de8;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #ffa0c6;
  /* background-color: #f5bec3; */
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
    



      
}