@media only screen and (min-width:768px){
    .nav-tabs .nav-link:hover {
        background-color: #63265475 !important;
        border-color: transparent;
        color: #ffffff;
        border-radius: 10px;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #d20085 !important;
        border-color: #ff46bb !important;
    }
    .justify-center{
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .list-group-item {
        padding:0 !important;
        border:none !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.23) !important;
    }
    .wed-content{
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }
    .wed-options{
        background: #ffffff63;  
        margin-inline: 50px;
        margin-block: 50px;
        color: #1d1d1d;
        border-radius: 50px;
    }
    .wed-cards{
        width: 300px;
        overflow: hidden;

    }
    .wedCategories{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        padding-inline: 110px;
        justify-content: space-around;
        
    }
    .wedCat{
        width: 575px;
        height: 140px;
        margin: 10px;
    }
    .cat-lavender{
        background: #d7d7ff;
    }
    .cat-peach{
        background: peachpuff;
    }
    .cat-tangerine{
        background: rgb(255, 182, 182);
    }
    .cat-green{
        background: rgb(219, 255, 196);

    }
    .wedCate-details{
        width: 60%;
        padding: 35px;
        display: flex;
        flex-direction: column;   
    }
    .webCateTopic{
        font-size: 20px;
        color: rgb(63, 63, 63);
    }
    .webCateSub{
        font-size: 12px;
        color: rgb(79, 79, 79);
    }
    .wedCate-img{
        width:40%;
        background-size: cover;
        border-radius: 80px 0px 0px 80px;

    }
    .img-dest{
        background-image: url('../../../assets//images/destweed.jpeg');
        background-position: bottom;
    }
    .img-jewel{
        background-image: url('../../../assets//images/jewels.jpg');
        background-position: 0px -87px;
    }
    .img-food{
        background-image: url('../../../assets//images/foods.jpg');
        background-position: 0px -87px;
    }
    .img-cloth{
        background-image: url('../../../assets//images/wed.jpg');
        background-position: 0px -87px;
    }
    .wedCate-img img{
        max-height:120px;
        object-fit: contain;
    }
    .wedLists{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: var(--mdb-list-group-item-padding-y) var(--mdb-list-group-item-padding-x);
        color: var(--mdb-list-group-color);
        background-color: var(--mdb-list-group-bg);
        border: var(--mdb-list-group-border-width) solid var(--mdb-list-group-border-color);
    }
    .list-group-light .active {
        border: none;
        border-radius: var(--mdb-list-group-light-active-border-radius);
        background-color: rgb(108, 18, 75) !important;
        color: white !important;
    }
    .list-group-light .active a {
        color: white !important;
    }
    .list-c a{
        color: rgb(48, 48, 48);
    }
    .wedding{
        display: flex;
        position: relative;
        height: 250px;
        width: 100%;
    }
    .plant{
        position: absolute;
        width: 10%;
        bottom: 0px;
        z-index:2;
    }
    .drone{
        position: absolute;
        width: 10%;
        top: 10%;
        left: 50%;
        z-index:2;
    }
    .pools{
        position: absolute;
        width: 55%;
        top: -80px;
        right: 0%;
        z-index: 2;
    }
    .pool{
        position: absolute;
        width: 10%;
        bottom: 0px;
        right: 20%;
        z-index: 2;
    }
    .pool img{
        width:240px
    }
    .temple{
        position: absolute;
        width: 30%;
        bottom: 0px;
        right: 5%;
        z-index: 2;
    }
    .plantwo{
        position: absolute;
        width: 20%;
        top: 0px;
        right: -115px;
        z-index:2;

    }
    .couples{
        position: absolute;
        width: 20%;
        bottom:0;
        right: 50%;
        z-index:2;

    }
    .flower{
        position: absolute;
        width: 20%;
        bottom:0;
        right: 50%;
        z-index:2;

    }
    .chips{
        border: 1px solid #b4b4b4ad;
    }
    .chips span{
        color: #4a4a4a;
        font-size: 13px;
        margin-inline: 5px;
    }
    .chips svg{
        color: #5c5c5c;
        margin-inline: 10px;
    }
    .chips img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .chip-destination{
        background: #e4f5e2;
        padding: 5px;
        border-radius: 20px;    
    }
    .chip-veg{
        background: #feffdc;
        padding: 5px;
        border-radius: 20px;   
    }
    .chip-nonveg{
        background: #ffe5e0;
        padding: 5px;
        border-radius: 20px;    
    }
    .chip-drinks{
        background: #f1dff8;
        padding: 5px;
        border-radius: 20px;    
    }
    .chip-temple{
        background: #fdffe6;
        padding: 5px;
        border-radius: 20px;    
    }
    .chip-audit{
        background: #ffe6f8;
        padding: 5px;
        border-radius: 20px;    
    }
    .chip-video{
        background: #b9b9b9;
        padding: 5px;
        border-radius: 20px;    
    } 
    .chip-hotel{
        background: #e6fcff;
        padding: 5px;
        border-radius: 20px;    
    }
    .chips-custom {
        height: 45px !important;
        align-items: center;
        background: #6c124b17 !important;
        padding-inline: 30px;
    }

}
    
