
@media only screen and (min-width:768px){
    .profile-content{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        justify-content: center;
    }
    .profile-title{
        padding-inline: 80px;

    }
    .profile-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .profile-photo{
        margin-right: 20px;
    }
    .userProfile{
        width:200px;
        height:200px;
        border-radius: 20px;
    }
    .profile-details{
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .profile-details li{
        list-style: none;
        color: rgb(206, 206, 206);
    }
    .profile-details span{
        font-weight: 800;
        color: white;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: var(--mdb-list-group-item-padding-y) var(--mdb-list-group-item-padding-x);
        color: var(--mdb-list-group-color);
        background-color: #00000021 !important;
        border: var(--mdb-list-group-border-width) solid var(--mdb-list-group-border-color);
    }
    .badge-success {
        background-color: #029620 !important;
        color: #0d6832;
    }

}